
    <table>
    	<tr>
    		<th>Name</th>
    		<th>Service Sales</th>
    		<th>Retial Sales</th>
    	</tr>

<% @users.each do |user| %>

	    <tr>
	        <th><%= link_to user.first_name %></th>
	      
	    </tr>
	
<% end %>
</table>
